server:
  port: ${URI_PORT:8080}

spring:
  rabbitmq:
    host: ${RABBIT_HOST:albatross-01.rmq.cloudamqp.com}
    port: ${RABBIT_PORT:5672}
    username: ${RABBIT_USERNAME:fcplheqi}
    password: ${RABBIT_PASSWORD}
    virtual-host: fcplheqi
    
  datasource:
    url: ${CONNECTION_STRING:jdbc:postgresql://35.222.27.124:5432/pedido}
    password: ${DATABASE_PASSWORD}
    username: ${DATABASE_USERNAME:postgres}
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update # Atualiza automaticamente o esquema do banco de dados com base nas entidades JPA
    properties:
      hibernate.jdbc.lob.non_contextual_creation: true

  jackson:
    serialization.FAIL_ON_EMPTY_BEANS: false # Não falhar na serialização de objetos sem propriedades

    serialization:
      indent-output: true
